

@{
    ViewBag.Title = "SetBureauActive";
    Layout = "~/Views/Shared/_M11Layout.cshtml";
}

@section scripts {
    <script type="text/javascript" src="~/scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker/bootstrap-datetimepicker.zh-tw.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />
}

<div class="row">
    <div class="col-md-9">
        <h1 class="page-header">
            氣象局回傳啟動設定
        </h1>
    </div>
    <div class="col-md-3">
        <h1 class="page-header">
            <Button ID="btnSave" onclick="btnSave();" class="btn btn-success">儲存</Button>
        </h1>
    </div>
</div>


@*<div class="panel panel-info">
    <div class="panel-heading">匯出</div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="form-inline">
                <select id="Country" name="county" class="form-control"></select>
                <label for="keyWord">起始時間：</label>
                <input type="text" id="StartDate" name="StartDate" value="" />
                <label for="keyWord">結束時間：</label>
                <input type="text" id="EndDate" name="EndDate" value="" />
                <label for="keyWord">密碼：</label>
                <input type="text" id="txtpass" name="txtpass" value="" />
                <button class="btn btn-default" id="btnSearch" onclick="Export();">資料匯出</button>
            </div>
        </div>
    </div>
</div>*@

@**@
<div class="panel panel-success">
    @*<div class="panel-heading">查詢結果 - 共 @ViewBag.count 筆</div>*@
    <div class="panel-body">
        <div class="col-md-12">
            <div class="row">
                <table id="tblDefault" class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th style="min-width: 80px;">ID</th>
                            <th style="min-width: 80px;">名稱</th>
                            <th style="min-width: 80px;">區域</th>
                            <th style="min-width: 80px;">測站-儀器</th>
                            <th style="min-width: 40px;">是否啟用</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (M11System.Model.M11.BasRainallStation item in ViewData["lstBasRain"] as List<M11System.Model.M11.BasRainallStation>)
                        {

                            <tr>
                                <td>@item.ID</td>
                                <td>@item.Name</td>
                                <td>@item.Distrct</td>
                                <td>@item.SensorName</td>
                                <td>
                                    @*@item.Active_YN*@
                                    @if (@item.Active_YN == "Y")
                                    {
                                        <input id="test" type="checkbox" checked="checked" />
                                        @*<Button ID="btnSetAlert" onclick="SetAlert(this);" class="">1</Button>*@
                                    }
                                    else
                                    {
                                        <input id="test"  type="checkbox" />
                                        @*<Button ID="btnSetAlert" onclick="SetAlert(this);" class="">2</Button>*@
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    @*$.getJSON('@Url.Action("getAlertSet")', null, function (data) {
            if (data.AlertSet == "Y") {
                $("#btnSetAlert").attr('class', 'btn btn-warning');
                $("#btnSetAlert").text("崩塌警戒發報-已啟動");
            } else {
                $("#btnSetAlert").attr('class', 'btn btn-success');
                $("#btnSetAlert").text("崩塌警戒發報-已關閉");
            }
        });*@
      $(document).ready(function () {
        @*$("#StartDate").datetimepicker({
          format: 'YYYY-MM-DD HH',
          sideBySide: true,
          //預設今天
          defaultDate: new Date(),
          //showMeridian:true,
          //maxViewMode: 0,
          //startView:1,
          //language: 'zh-tw',
        });
        $("#EndDate").datetimepicker({
          format: 'YYYY-MM-DD HH',
          sideBySide: true,
          //預設今天
          defaultDate: new Date(),
          //language: 'zh-tw',
        });

        $.getJSON('@Url.Action("GetCountyDDL")', { cityId: "test" }, function (data) {
          $('#Country').empty();
          $.each(data, function (i, item) {
            $('#Country').append($('<option></option>').val(item.Value).text(item.Text));
          });

          //設定預設項目
          $('#Product').val("全部");
        });*@
      });

    function btnSave() {
        var BasRainallStations = new Array();
        $("#tblDefault TBODY TR").each(function (i) {
            var row = $(this);
            var Active_YN = "Y";
            var $chkbox = row.find('input[type="checkbox"]');
            if ($chkbox.length) {
                ($chkbox.prop('checked') == true) ? Active_YN = "Y" : Active_YN = "N";
                //console.log('Table row ' + i + ' contains a checkbox with a checked status of: ' + status);
            }

            var BasRainallStation = {};
            BasRainallStation.ID        = row.find("TD").eq(0).html();
            BasRainallStation.Active_YN = Active_YN;

            BasRainallStations.push(BasRainallStation);
        });

        $.ajax({
            type: "POST",
            /*url: "../System/SetBureauActiveSave",*/
            url : '@Url.Action("SetBureauActiveSave", "System")',
            data: JSON.stringify(BasRainallStations),
        /*contentType: "application/json; charset=utf-8",*/
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                //alert(r.Message);
                //alert(r + " record(s) inserted.");
            }
        });
    }




  function Export() {
    if ($("#StartDate").val() == "" || $("#EndDate").val() == "") {
      alert("請選擇起訖日期。");
      return;
    }
    if ($("#Country").val() == "") {
      alert("請選擇縣市。");
      return;
    }

    $.ajax({
      type: 'GET',
      url: '@Url.Action("checkPass")',
      data: { pass: $("#txtpass").val() },
      dataType: 'JSON',
      success: function (response) {
        if (response.pass == "N")
        {
          alert("密碼不符。");
          return;
        }

        var sStartDate = $("#StartDate").val();
        var sEndDate = $("#EndDate").val();
        var sCountry = $("#Country").val();

        location.href = '@Url.Action("DownRainCountry")' + '?sd=' + sStartDate + '&ed=' + sEndDate + '&country=' + sCountry;
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(errorThrown);
      },
    });

  }
</script>

